.root {
  flex-grow: 1;
  /*height: 100vh;*/
}

.welcome {
  background-color: #cfe8fc;
  text-align: center;
}

p {
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 0%;
}

h1 {
  margin-bottom: 2%;
}
